#bom{
    padding:.4rem;
    background-color: rgb(5, 5, 100);
    color:white;
     margin:2rem;
}
details {
  margin-bottom: 10px;
}
#verse{
    margin:1rem;  
}

#bom h2{
    margin: .6rem;
}


summary {
  font-weight: bold;
  cursor: pointer;
}
#searchInput{
    width: 80%;
    padding: 1rem;
}
#result{
 margin: 1rem;
 text-align: center;
 border-bottom: 1px solid black;
}
.verRef{
    margin:1rem;
}
.otherRef, h3{
 list-style-type: none;
 padding-left: 1rem;
    }
